.pa{
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
.ch{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    top: 100px;
    left: 100px;

}
.ch2{
    position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(0, 255, 110);
        top:0;
        left: 0;
}
.st{
    position: sticky;
    top:0;
}

.st1{
    position: fixed;
    top:0
}
.pa1{
    background-color: cadetblue;
    width:100px;
    height: 100px;
}