body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D3F1DF;
}
.sec1{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85A98F;
    border-radius: 100%;
    gap: 10px;
    box-shadow: 1px 1px 25px #525b44fe;
}
.sec1>article{
    width: 20%;
    height: 20%;
    background-color: #D3F1DF;
    border-radius: 100px;
    color: #525B44;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px #525b44;
    font-size: 3rem;
    stroke-width: 2px;
    -webkit-text-stroke: 1px rgba(255, 255, 255);
    font-weight: 800;
    text-shadow: 4px 6px 5px #525b44;
}
.sec1>h1{
    font-size: 3.5rem;
    color: #525B44;
    
}
.rest{
    align-self: flex-end;
    margin: 0 10% 0 0;
    transition: 0.1s;
}
.rest:active{
    transform: rotate(180deg);
}
.sec2{
    display: flex;
    width: fit-content;
    
}
.sec2>button{
    background-color: #85A98F;
    color: #525B44;
    width: 150px; 
    height: 50px;
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 100px;
    box-shadow: 1px 1px 15px #525b44;
    transition: scale(1);
    transition: 2s,background-color .1s ;
}
.sec2>button:first-child{
    margin-right: 50px;
}
.sec2>button:active{
    transform: scale(1.2);
    box-shadow: 1px 1px 75px #525b44d7;
    background-color: #D3F1DF;
    border: none;
}
@media(max-width:900px){
    .sec1 {
            width: 70%;
            height: 60%;
            border-radius: 100%;
            gap: 5px; 
        }
        .sec1>article {
            width: 18%;
            height: 20%;
            background-color: #D3F1DF;
            font-size: 2.5rem;       
            }
}
@media(max-width:600px) {
    .sec1 {
        width: 80%;
     
    }

    
}
@media(max-width:480px) {
    .sec1 {
        width: 90%;
    }
}
@media(max-width:400px) {
    .sec1 {
        width: 90%;
        height: 50%;
        gap: 5px;
    }

    .sec1>article {
        width: 15%;
        height: 20%;
        font-size: 2rem;
    }
}